// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
/*
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'recipes.scss';
@import 'home.scss';

.spacer {
	margin-top: 20px
}
.grisLite{
	background-color:'#E8E8E8' !important;
}
i.fa.fa-user{
  margin-right: 1rem;
  color: #000;
  zoom:1.7;
} 
.user-icon{
	color: #000;
}
